
<div class="container">
  <div class="row">
    <div class="col-md-10 align-self-center">
      <div id="card_table" class="card_table">
        
        <div class="playing_card_container deg180">
          <%= image_tag("cards/king_of_hearts.svg", class: 'playing_card') %>
        </div>
      </div>
    </div>
  </div>
</div>