


.card_table {
  height: 40em;
  background: green;
  border-radius: 100% / 100%;
}

.playing_card_container {
  width: max-content;
  height: max-content;
}

.playing_card {
  height: 10em;
  width: 7em;
}

.user_row {
  margin-top: 50%;
}